@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font: 500 100%/1 'DM Sans', -apple-system, Helvetica, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.04em;
  line-height: 1;
  margin: 1rem 0;
}
h2 {
  font-size: 1.25rem;
  margin: 3rem 0 1rem;
}
p {
  line-height: 1.3;
  opacity: 0.5;
  white-space: pre-wrap;
}

small,
.small {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

body {
  background: #00333d;
  color: white;
  padding: 2rem;
}

.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 8px 24px -8px #141d1b33;
  display: flex;
  overflow: hidden;
}
.card-image {
  background-size: cover;
  flex: 1 100px;
}
.card-text {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 0.5rem;
  padding: 1rem;
}
.card-top {
  align-items: center;
  display: flex;
}
.card-name {
  flex: 1;
}
.card-top a {
  color: inherit;
  opacity: 0.5;
  text-decoration: none;
}
.card-top a:hover {
  text-decoration: underline;
}
.card-stats {
  display: flex;
  gap: 1rem;
}
.card-stat1,
.card-stat2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.card-stats b {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  opacity: 0.5;
  text-transform: uppercase;
}

/* new content */

#multiverse {
  align-items: baseline;
  display: flex;
}
#multiverse > div {
  font-size: 1.5rem;
  margin: 0 4px;
}

.loading {
  width: 40px;
}

#map1,
#map2 {
  height: 375px;
  width: 375px;
}

.iphone-14 {
  background: #141d1b80;
  border-radius: 3rem;
  color: white;
  height: 844px;
  overflow: hidden;
  padding: 1.5rem;
  word-wrap: break-word;
  width: 390px;
}

#videos,
#demo {
  display: flex;
  gap: 1rem;
  overflow-y: auto;
}
#videos > div,
#demo > div {
  flex: 1 0 390px;
}

#cover {
  background: linear-gradient(#ff7aa1, #00333d);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover-small {
  font-size: 14px;
}

.cover-date {
  font-size: 18px;
}
.cover-prompt {
  font-size: 24px;
  font-style: italic;
  line-height: 1.3;
  margin: 1rem 0;
  opacity: 0.5;
  text-transform: lowercase;
}
.cover-acts {
  display: flex;
  gap: 1rem;
}
.cover-act {
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #fff3;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 1rem;
}
.cover-brand {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 2px;
  letter-spacing: -0.02em;
  margin: 3rem 0 0;
}
.cover-brand small {
  opacity: 0.3;
}

#agenda {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#agenda iframe {
  border: 0;
  bottom: -15%;
  height: 130%;
  left: -15%;
  position: absolute;
  right: -15%;
  top: -15%;
  width: 130%;
  z-index: 1;
}
.filter {
  background: linear-gradient(#ff7aa1cc, #00333dcc);
  border: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#plan {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 3;
}
.plan-group {
  display: flex;
  gap: 1rem;
}
.plan-when {
  font-weight: 700;
  width: 5rem;
}
.plan-stack {
  flex: 1;
}
.plan-place {
  line-height: 1.1;
  margin: 0 0 0.5rem;
}
.plan-about {
  line-height: 1.3;
  opacity: 0.5;
}
